

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Serif', serif;
}

#headerContainer {
    background-color: white;
    width: 90vw;
    height: 35vh;
    /* margin: auto; */
    /* padding: 10px 20px; */
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#headerName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    /* width: 80%; */
    /* height: 50px; */
}

#imgDiv {
    height: 50%;
}

svg {
    height: 100%;
    padding: 0;
    color: #70A287;
}

#headerH1 {
    height: 20%;
    display: flex;
    align-items: center;
    font-weight: 200;
    color: #70A287;
}

#rightElements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#headerTagline {
    background-color: #44745F;
    flex-grow: 1;
    border-radius: 0 10px 0 0;
    display: flex;
    align-items: center;
}

#headerTagline h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    /* color: #C6DACF; */
    color: white;
    padding: 0 20px;
}

#headerContact {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background-color: #C6DACF;
    /* height: 60px; */
}

#headerContact h4 {
    font-weight: 100;
    color: #44745F;
}

#menuBar {
    /* height: 70px; */
    width: 90vw;
    background-color: #C6DACF;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    /* padding: 10px 20px; */
    flex-wrap: wrap;
}

#menuBar button {
    padding: 10px 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    background-color: #44745F;
    color: white;
    border-radius: 5px;
    border: none;             /* Remove any border */
    outline: none;            /* Remove focus outline */
    box-shadow: none; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#menuBar button:hover {
    transform: scale(1.1); /* Scale the button to 110% of its original size */
    transition: transform 0.3s ease; /* Smooth transition effect */
}


#textHomePageContainer {
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
#textWeOfferContainer {
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#textHomePageContainer div {
margin: 20px auto;
width: 80%;
}
#textWeOfferContainer div {
margin: 20px auto;
width: 80%;
}

ul {
    list-style: none;
}

#textHomePageContainer p {
    color: #44745F;
    line-height: 1.5;
}
#textWeOfferContainer p {
    color: #44745F;
    line-height: 1.5;
}
#textHomePageContainer p {
    color: #44745F;
    line-height: 1.5;
}

li {
    color: #44745F;
    line-height: 1.5;
}
#textHomePageContainer h3 {
    color: #44745F;
    margin-bottom: 10px;
}

#textHomePageContainer h4 {
    color: #44745F;
}
#textWeOfferContainer h3 {
    color: #44745F;
    margin-bottom: 10px;
}

#textWeOfferContainer h4 {
    color: #44745F;
}


