* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Serif', serif;
    color: #44745F;
}

#flex {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    width: 90%;
}

#bigImage {
    padding: 0;
    /* margin: 0 auto; */
}

#profileImageDiv {
    height: 300px;
}

#profileImageDiv img {
    height: 100%;
    border-radius: 10px;
}

.aboutText {
    display: flex;
    align-items: center;
    width: 50%;
}

.welcome {
    font-weight: 200;
    font-size: 1.5rem;
}

.italic {
    font-style: italic;
}

.small {
    font-size: 1rem;
}

/* Common Styles */
.container {
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h3, h4 {
    color: #44745F;
    margin: 20px 0 5px 0;
}

.containerDiv {
    margin: 20px auto;
    width: 80%;
}

.containerDiv div {
    margin: 30px 0;
}

/* Header Styles */
#headerContainer {
    height: 35vh;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#headerContainer h3, h4 {
    margin: 0;
}

#headerName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

#imgDiv {
    height: 50%;
}

svg {
    height: 100%;
    padding: 0;
    color: #70A287;
}

#headerH1 {
    height: 20%;
    display: flex;
    align-items: center;
    font-weight: 200;
    color: #70A287;
}

#rightElements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    padding: 0;
}

#headerTagline {
    background-color: #44745F;
    flex-grow: 1;
    border-radius: 0 10px 0 0;
    display: flex;
    align-items: center;
    /* padding: 0 20px; */
}

#headerTagline h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    color: white;
    padding: 0 20px;
}

#headerContact {
    display: flex;
    flex-direction: column;
    /* padding: 20px 0; */
    background-color: #C6DACF;
    height: 50%;
    justify-content: center;
}

#headerContact h4 {
    font-weight: 100;
    color: #44745F;
}

/* Menu Bar Styles */
#menuBar {
    width: 90vw;
    background-color: #C6DACF;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#menuBar button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #44745F;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#menuBar button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


ul {
    list-style: none;
}

li {
    margin-bottom: 5px;
    font-style: italic;
}

li:first-child {
    margin-top: 7px;
}

